<%- include('partials/header.ejs')%>

<div class = "formContainer">
    <form action="/submit" method="POST">
        <img class="mb-4" src="images/google-forms.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">POST FORM</h1>

        <div class="form-floating">
            <input type="text" class="form-control" name="author">
            <label for="floatingInput">Author</label>
          </div>  
    
        <div class="form-floating">
          <input type="text" class="form-control" name="title">
          <label for="floatingInput">Title</label>
        </div>

        <div class="form-floating">
            <textarea class="form-control" name="post" id="postfield"> Enter post</textarea>
        </div>

        <button class="btn btn-primary w-100 py-2" style = "margin-bottom: 30px;"type="submit">Post</button>
      </form>
</div>